{% extends 'base.html' %}

{% block content_header %}
    <h1 class="text-3xl">Welcome {{ student.name }}</h1>

{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
{% endblock %}

{% block js %}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

    <script>
        var isCloseInTime = false;
        var isCloseInDistance = false;
        var map = null;
        var userMarker = null;
        var polyline = null;

        function toggleAttendanceForm() {
            if (isCloseInTime && isCloseInDistance) {
                document.getElementById("registrationOpen").style.display = "block";
                document.getElementById("registrationClose").style.display = "none";
            } else {
                document.getElementById("registrationOpen").style.display = "hide";
                document.getElementById("registrationClose").style.display = "block";
            }
        }

        document.addEventListener('DOMContentLoaded', function() {

            const countdownDate = new Date("{{ countdown_date }}"); // Pass the date from Django
            const countdownElement = document.getElementById("countdown");

            function updateCountdown() {
                const now = new Date();
                const distance = countdownDate - now;

                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                var str = ""
                var showing = false;
                if (days > 0) {
                    str += `${days} days, `;
                    showing = true;
                }
                if (hours > 0 || showing) {
                    str += `${hours} hours, `;
                    showing = true;
                }
                if (minutes > 0  || showing) {
                    str += `${minutes} minutes, `;
                    showing = true;
                }
                if (seconds > 0  || showing) {
                    str += `${seconds} seconds`;
                }

                countdownElement.innerHTML = `${str}`;

                // if it is closer than 30 minutes
                if ( distance / 1000 < 30 * 60) {
                    isCloseInTime = true;
                }
                toggleAttendanceForm();

            }
            setInterval(updateCountdown, 1000); // Update every second
        });
    </script>
    <script>
        function deg2rad(deg) {
            return deg * (Math.PI / 180);
        }
        function calculateDistance(lat1, lon1, lat2, lon2) {
            const earthRadius = 6371; // km
            const dLat = deg2rad(lat2 - lat1);
            const dLon = deg2rad(lon2 - lon1);
            const a =
                Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(deg2rad(lat1)) *
                Math.cos(deg2rad(lat2)) *
                Math.sin(dLon / 2) *
                Math.sin(dLon / 2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            const distance = earthRadius * c;
            return distance;
        }


    </script>
    <script>
        // print direction and distance
        document.addEventListener('DOMContentLoaded', function() {

            // Set up the map
            map = L.map('map').setView([0, 0], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
                subdomains: ['a', 'b', 'c']
            }).addTo(map);

            // Target location
            const targetLatitude = {{address.latitude}};
            const targetLongitude = {{address.longitude}};

            // Add target marker
            const targetMarker = L.marker([targetLatitude, targetLongitude]).addTo(map);

            navigator.geolocation.watchPosition((position) => {
                // distance
                const currentLat = position.coords.latitude;
                const currentLng = position.coords.longitude;
                const targetLat = {{address.latitude}}; // Target latitude
                const targetLng = {{address.longitude}}; // Target longitude

                // show the distance
                const distance = calculateDistance(currentLat, currentLng, targetLat, targetLng);
                if (distance < 0.1) {
                    isCloseInDistance = true;
                }
                //document.getElementById("distance").innerText = `${distance.toFixed(2)} km (${position.coords.latitude}. ${position.coords.longitude})`;
                document.getElementById("distance").innerText = `${distance.toFixed(2)} km.`;

                // show the map
                try {
                    const userLatitude = currentLat;
                    const userLongitude = currentLng;

                    var firstRun;
                    if (userMarker === null) {
                        firstRun = true;
                    } else {
                        firstRun = false;
                    }

                    // Update the map to show the user's location
                    if ( userMarker === null ) {
                        userMarker = L.marker([userLatitude, userLongitude]).addTo(map);
                    } else {
                        userMarker.setLatLng([userLatitude, userLongitude]);
                    }

                    // Draw a line between user and target locations
                    if (polyline === null) {
                        polyline = L.polyline([[userLatitude, userLongitude], [targetLatitude, targetLongitude]], {color: 'red'}).addTo(map);
                    } else {
                        polyline.setLatLngs([[userLatitude, userLongitude], [targetLatitude, targetLongitude]]);
                    }

                    // Adjust map bounds to show both points
                    if ( firstRun ) {
                        const bounds = L.latLngBounds([[userLatitude, userLongitude], [targetLatitude, targetLongitude]]);
                        map.fitBounds(bounds, {padding: [70, 70]});
                    }
                } catch (error) {
                    console.error("Map WatchPosition Error(1):", error.message);
                    document.getElementById('map-errors').innerText += "Map WatchPosition Error(1):" + error.message + '<br>';
                }


            }, (error) => {
                if (error.code === 1) {
                    document.getElementById("distance").innerText = ' - error: user denied access to location'
                } else if (error.code === 2) {
                    document.getElementById("distance").innerText = ' - error: unable to determine location'
                } else if (error.code === 3) {
                    document.getElementById("distance").innerText = ' - error: location retrieval timed out'
                } else {
                    document.getElementById("distance").innerText = ' - unknown error: ' + error.message
                }
                console.error(error);
            }, {
                enableHighAccuracy: false,
                timeout: 20000,
                maximumAge: 120000
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <h2>{{ session.name }}</h2>
    <p>
        <b>Session hosted by</b>: {{ session.dojo.name }}<br>
        <b>When</b>: {{session.date}}  {{session.time_from}} to {{session.time_to}}<br>
        <b>Where</b>: {{ address.name }} at {{ address.street }}, {{ address.zip_code }} {{ address.city }},
        {{ address.state }} (<a href="geo:{{address.latitude}},{{address.longitude}}">Open in Maps</a>)
    </p>

    <h2>Registration</h2>
    <div id="registrationOpen" style="display: none">
        <p>Registration is now Open</p>
        <form method="post" action="/student/session/attendance">
            {% csrf_token %}
            <button type="submit">Register Attendance</button>
        </form>
    </div>
    <div id="registrationClose">
        <p>
            1 - Registration opens 30 minutes before the session.<br>The session starts in
            <span  id="countdown"> - calculating - </span>
        <p>
        <p>
            2 - You need to be within 100m when the registration opens. Your current distance is <span id="distance"> - getting gps coordinates - </span>.
        </p>
        <div id="map" style="width: 100%; height: 450px;"></div>
        <div id="map-errors" ></div>

    </div>
{% endblock %}
