anyio==4.13.0
asgiref==3.11.1
babel==2.18.0
boto3==1.43.29
botocore==1.43.29
certifi==2026.5.20
Django==5.2.15
django-money==3.6.1
django-phone-field==1.8.1
django-phonenumber-field==8.4.0
django-storages==1.14.6
django-timezone-field==7.2.2
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
jmespath==1.1.0
packaging==26.2
psycopg2-binary==2.9.12
py-moneyed==3.0
python-dateutil==2.9.0.post0
python-telegram-bot==22.8
pytz==2026.2
s3transfer==0.18.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0
