asgiref
babel
Django==5.1
django-money
setuptools
sqlparse
typing_extensions
psycopg2-binary
django-timezone-field
pytz
gunicorn
python-dateutil
django-storages
django-s3-storage
python-telegram-bot
django-phonenumber-field[phonenumberslite]